<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platform</title>
</head>
<body>
    <h1>Register</h1>
    {% if messages %}
        <ul>
            {% for message in messages%}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
    {% endif %}   
    
    <form method="post">
        {% csrf_token %}
        <label for="username">Enter Username</label>
        <input type="text" id="username" name="username" required>

        <label for="email">Enter Email</label>
        <input type="email" name="email" id="email" required>

        <label for="password">Enter</label>
        <input type="password" name="password" id="password" required>

        <button type="submit">Save User</button>
    </form>
</body>
</html>